- @news.each do |new|
  = render 'articles/date_and_title', article: new

  .rnk-Section_FeatureHeadlinesFooter
    %p
      = new.intro_text.html_safe

    = render 'articles/replies_and_likes', article: new
